* {
    background-color: #000;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-link-first
.nav-link-second
.nav-link-third
.nav-link-fourt
.nav-link-fifth
.nav-link-sixth 

.first-container {}
.second-container {}
.third-container {}
.fourth-container {}
.fifth-container {}


.section {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-inner {
    font: 36px/36px D-DIN-Bold,Arial,Verdana,sans-serif;
}